{% extends 'products/layouts/base.html' %}

{% load static %}

{% block title %}Login  {% endblock %}

{% block table %}
<h1> Login </h1>
<form method="post"  enctype="multipart/form-data" class="w-25">
    {% csrf_token %}
    {{form}}
    <button type="submit" class="btn btn-primary my-4">Login</button><br/>
    <p>
        Don't have an account? 
        <a href="/accounts/register/">Register here!</a>

    </p>

</form>

<script src="{% static  'sections/js/script.js' %}">

</script>
{% endblock %}