{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>
        {%block Title%}
        {%endblock %}
    </title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <style></style>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Products</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/products/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/products/contact_us">Contact US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href='/products/about_us'>About Us</a>
          </li>
          {% if user.id %}
          <li class="nav-item mx-3">
            <a class="nav-link active{% if user.is_authenticated %} disabled{% endif %}" href="">{% if user.is_authenticated %}{{ user }}{% else %}Guest{% endif %}</a>
        </li>
        
          <li class="nav-item mx-3">
            <a class="nav-link active" href="{% url "logout" %}">Logout</a>
          </li>
          
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'login' %}">Login</a>
          </li>
          {% comment %} <li class="nav-item mx-3">
            <a class="nav-link active" href="{% url "registration" %}">Register</a>
          </li>  {% endcomment %}


          {% endif %}
        </ul>
        {% comment %} <form class="d-flex" role="search">
          <input class="form-control me-2" type="search"  placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" href="../search"  type="submit">Search</button>
        </form> {% endcomment %}
        <form class="d-flex" method="get" action="{% url 'products:search' %}" role="search">
          <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        
      </div>
    </div>
</nav>

    
      <div class="container mt-4">
 



        <div class ="bg-warning text-danger text-center">
            {% block content %}

            {% endblock %}

        </div><br/>

        <div class=" ">
          {%block table%}

          {%endblock %}
        </div>
        {%block test%}

        {%endblock%}

        

    
    <footer class="footer">
        <div class="container fixed-bottom text-center">
            <p>&copy; {{ year }} Your Website Name</p>
        </div>
    </footer>
    
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
