{% extends "products/layouts/base.html" %}
{% load static %}

{% block title %} Register {% endblock  %}

{% block content %}
<h2> Welcome in Register Page ! </h2>
{% endblock  %}

{% block table %}
<form method="post"  enctype="multipart/form-data" class="w-25">
    {% csrf_token %}
    {{form}}
    <button type="submit" class="btn btn-primary my-4">create Account</button>


    <p> or if you have account click here 
    <a href="/accounts/login/" >Login</a>
    </p>

</form>

<script src="{% static  'sections/js/script.js' %}">

{% endblock  %}