{% extends "products/layouts/base.html" %}
{% load static %}




{%block Title%}
Home
{%endblock %}

{% block content %}
<h1>This is Home Page</h1>
{% endblock %}
{% block table %}
<a href="{% url 'products:create_product'%}" class="btn btn-primary my-4">Add Product</a>

<table class="table container table-striped my-4 text-center">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Descriptions</th>
            <th>Price $</th>
            <th>Images</th>
            <th>Action</th>



        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td>
                <img src="{% static 'products/images/'|add:product.image %}" class="img-fluid" style="max-width: 400px;">
            </td>                

            <td><br/>
                {% comment %} <a href="{% url 'products:product_detail' product.id %}" class="btn btn-primary my-4">Details</a> {% endcomment %}
                <a href="{{product.get_show_url}}" class="btn btn-primary my-4">Details</a>
                <a href="{{product.get_delete_url}}" class="btn btn-danger ">Delete</a>
                {% comment %} <a href="{% url 'products:delete' product.id %}" class="btn btn-danger ">Delete</a> {% endcomment %}

            </td>
   
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

