{% extends "products/layouts/base.html" %}
{% load static %}

{% block title %}Product Details{% endblock %}
{% block content %}
  <h1>Product Details</h1>
{% endblock %}

{% block table %}
<div class="container" style="display: flex; justify-content: space-between;">
  <div class="card text-center w-50 col-6 mx-4">
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <img src="{{ product.image.url }}" class="img-fluid" style="max-width: 400px;">
      <p class="card-text">{{ product.description }}</p>
      <p class="card-text">Price: ${{ product.price }}</p>
      <a href="{% url 'products:home' %}" class="btn btn-primary my-4">Back Home</a>
    </div>
  </div>
  <div class="card  col-6 mx-3">
    <div class="card-body">
      <h2>Other Products in this sections</h2>
      {% if product.section %}
        Section: {{ product.section.name }}
      {% else %}
        Section: No section assigned yet
      {% endif %}
      <ul>
        {% for related_product in related_products %}
          <li>
            <a href="{% url 'products:product_detail' related_product.id %}">{{ related_product.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
